.App {
    text-align: center;
}

.App-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Add{
    display: flex;
    padding-bottom: 10px;
}

.delete{
  color: red;
  margin-left: 12px;
}
